#box{
    background-color: bisque;
    height: 300px;
    width: 700px;
    visibility: hidden;
}

body{
    background-color: rgb(149, 255, 0);

}

#box.show{

    visibility: visible; 
}

.close_popup{
    margin-top: 1%;
    margin-left: 97%;
}